    <header class="header">

        <!-- Creación de contendor inicial parte superior, con menú 1, -->

        <div class="headerLogo">
            <img src="images/logo.png" alt="" width="180px">
        </div>
        <div class="headerMenu1">
            <h1 class="titulo1">PROTOTIPO – ITTALENT - GRUPO 051 – SUBGRUPO 01</h1>
        </div>
    </header>
