   <main>
        <section class="section_info">
            <div class="contenedor4">
                <h1 class="titulo1">Nombre del reto:</h1>
                <a class="parrafo1">
                    ¿Cómo podemos acercar a los habitantes de la localidad a la naturaleza?
                </a>
            </div>
            <div class="contenedor5">
                <h1 class="titulo1">Reto: </h1>
                <a class="parrafo1">La situación en la localidad parte de que el desarrollo natural del bello humedal “Jaboque” se está viendo
                    afectado negativamente por las actividades de las zonas urbanizadas anexas. Los habitantes acumulan residuos
                    sólidos cerca al humedal ya que no tienen un sentido de respeto por el mismo. Para muchos es una situación
                    triste porque es la única conexión que tienen con la naturaleza y sería lamentable perder dicho recurso.
                </a>
            </div>
            <div class="contenedor4">
                <h1 class="titulo1">Localidad:</h1>
                <a class="parrafo1">Engativá.</a>
            </div>
            <div class="contenedor5">
                <h1 class="titulo1">Problema identificado: </h1>
                <a class="parrafo1">El problema que se va a atacar es la falta de información sobre el humedal “Jaboque” de los habitantes de
                    la localidad de Engativá.
                </a>
            </div>
        </section>
    </main>